.auth_page {
    width: 100%;
    min-height: calc(100vh - 80px - 20px);
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth_page form {
    background: var(--linear-gradient);
    max-width: 768px;
    border: 1px solid #ddd;
    border-radius: 12px;
    color: #fff;
    font-weight: bold;
}

.auth_page .forgetForm {
    background: var(--linear-gradient);
    max-width: 480px;
    border: 1px solid #ddd;
    border-radius: 12px;
    color: #fff;
    font-weight: bold;
}

.auth_page form input {
    border: none;
    outline: none;
}

.auth_page form .form-button {
    border: none;
    border-radius: 6px;
    padding: 6px 16px;
    background: #fff;
    color: #2980b9;
    cursor: pointer;
    font-weight: bold;
}

.auth_page form .pass {
    position: relative;
}

.auth_page form .pass small {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0.5;
}